.input {
	border: 1.5px solid var(--border-color-input);
	border-radius: 5px;

	color: var(--color-input);
	font-size: 1rem;
	font-weight: bold;

	max-width: 450px;
	width: 100%;

	padding: 0.75rem;
	outline: none;
	transition: all 0.4s ease;
}

.input:focus {
	border-color: transparent;
	background: linear-gradient(white, white) padding-box,
		var(--outline-color-input) border-box;
}

.input--error,
.input--error:focus {
	border-color: var(--outline-color-error-input);
}

.input::placeholder {
	color: var(--color-input-placeholder);
}
