@import url(variables.css);

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body,
html {
	height: 100vh;
	width: 100vw;
}

html {
	font-size: 16px;
	line-height: 1.8;
}

body {
	display: grid;
	grid-template-columns: minmax(350px, 30vw) 1fr;
}

.decoration {
	background-image: url("/images/bg-main-desktop.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 25px;
}

.card {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	border-radius: 10px;
	box-shadow: 18px 11px 21px -5px rgba(23, 20, 20, 0.28);
	-webkit-box-shadow: 18px 11px 21px -5px rgba(23, 20, 20, 0.28);
	-moz-box-shadow: 18px 11px 21px -5px rgba(23, 20, 20, 0.28);

	height: 230px;
	width: 400px;

	position: relative;
	left: 30%;
}

.card--front {
	background-image: url("/images/bg-card-front.png");

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	padding: 1rem;
}

.card--front__numbers {
	color: white;
	font-size: 1.2rem;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card--front__info {
	color: white;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.info__name {
	text-transform: uppercase;
}

.card--back {
	background-image: url("/images/bg-card-back.png");

	position: relative;
	left: 40%;
}

.card--back__cvc {
	color: white;
	font-weight: bold;

	position: absolute;
	top: 43%;
	left: 80%;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 100%;

	padding: 2rem;
}
